@model NetCoreStatik.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.enterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.enterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.exitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.eventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
